.container {
  margin-top: 15px;
}
.container .row {
  margin-bottom: 15px;
}
.container .row .result {
  margin-top: 10px;
  display: none;
}
.container .row .progress-bar {
  overflow: visible;
}
.container .row .progress-bar .pblable {
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 0;
}
